# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
*.sln
*.suo
*.vcxproj
*.tlog
*.ilk
*.pdb
*.lastbuildstate
*.idb
*.suo
*.sln
*.sdf
*.vcxproj
*.vcxproj.filters
*.exe
*.ilk
*.pdb